langchain
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-chroma
sentence-transformers
chromadb
playwright
beautifulsoup4
streamlit
python-dotenv
fastapi
uvicorn

pysqlite3-binary
langchain-community
